*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* General styles */
:root {
  --nav-bg: #e7ede3;
  --hero-bg: #d7e7ca;
  --hero-dark-bg: #94a67a;
  --button-color: #467b45;
  --text-color: #163a12;
  --light-text-color: #829776;
  --footer-bg: #3a6337;
}
body {
  font-family: "inter";
}
.body-padding {
  padding: 1rem 3rem;
}
a {
  text-decoration: none;
  transition: all 0.5s ease;
}

/* Nav styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  background-color: var(--nav-bg);
}
.nav-container h1 {
  font-size: 1.2rem;
}
.nav-container .links {
  display: flex;
  gap: 1.5rem;
}
.nav-container .links a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.links a:hover,
.nav-container button:hover,
.hero-text button:hover,
.before-details button:hover {
  background-color: var(--text-color);
  color: var(--nav-bg);
  transition: all 0.5s ease;
}
.nav-container .nav-button,
.toggle-btn,
.hero-text button,
.before-details button {
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 1px solid var(--button-color);
  border-radius: 5px;
  cursor: pointer;
}
.toggle-btn {
  display: none;
  font-size: 1rem;
  padding: 0.3rem 1.5rem;
}

/* hero styles */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #d6e8c9, #3b5d0b);
  width: 100%;
  height: 80vh;
  gap: 2rem;
}
.hero-img img {
  max-width: 700px;
  height: auto;
  background: transparent;
  transition: all 0.5s ease;
  filter: saturate(2);
}
.hero-img img:hover,
.main-card-img img:hover,
.main-card-img:hover,
.before-img img:hover,
.before-card:hover {
  transform: scale(1.02);
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}
h1 span {
  display: block;
  font-size: 3.5rem;
  color: var(--text-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.hero-text p,
.before-details p {
  color: var(--text-color);
  opacity: 0.7;
  line-height: 1.5rem;
}
.hero-text button,
.before-details button {
  background-color: var(--button-color);
  color: var(--nav-bg);
  width: 100%;
}

/* main contents style */
.main-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.main-heading {
  text-align: center;
  margin: 2rem 0;
  color: var(--text-color);
  font-size: 2rem;
}
.main-card-img {
  width: 250px;
  height: 200px;
  background-color: var(--hero-bg);
  border-radius: 5px;
  padding: 1rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.5s ease;
}
.main-card-img img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(3px 3px 5px);
}
.main-card-details {
  text-align: center;
  margin-top: 1rem;
  color: var(--text-color);
}
.main-card-details h3 {
  margin-bottom: 0.5rem;
}
.main-card-details p {
  font-family: poppins;
}

/* beefore footer content */
.before-container,
.before-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.before-card {
  width: 600px;
  height: 400px;
  background-color: var(--hero-dark-bg);
  border-radius: 5px;
  padding: 1rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.5s ease;
}
.before-img img {
  max-width: 300px;
  height: auto;
  transition: all 0.5s ease;
}
h2 span {
  display: flex;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}
.before-details p {
  max-width: 18ch;
  margin-top: 1rem;
}
.before-details button {
  margin-top: 2rem;
}

/* Responsive styles */
/* Mobile view */
@media (max-width: 768px) {
  .nav-container .nav-button {
    display: none;
  }
  .nav-container .links {
    display: none;
  }
  .nav-container h1 {
    font-size: 0.9rem;
  }
  .links {
    display: none;
    flex-direction: column;
    background: var(--hero-bg);
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    border-top-left-radius: 10px;
    transition: all 0.5s ease;
    z-index: 999;
  }

  .links.active {
    display: flex;
  }

  .toggle-btn {
    display: block;
  }

  .hero-container {
    flex-direction: column-reverse;
    justify-content: center;
    background: linear-gradient(to top, #d6e8c9, #3b5d0b);
  }
  .hero-img img {
    width: 300px;
  }
  .hero-text p,
  h1 span {
    opacity: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .hero-text {
    text-align: center;
  }
  h1 span {
    font-size: 2rem;
  }
  .main-heading {
    font-size: 1.8rem;
  }
  .before-card {
    max-width: 500px;
    height: 400px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
  }
  .card-2 {
    flex-direction: column-reverse;
  }
  .before-img img {
    max-width: 220px;
  }

  h2 span {
    margin-bottom: 0.1rem;
    font-size: 1.2rem;
  }
  .before-details p {
    max-width: 30ch;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .before-details button {
    margin-top: 1rem;
  }
}
/* mobile view */
@media (max-width: 480px) {
  .hero-container {
    gap: 3rem;
    height: 90vh;
  }
  .hero-img img {
    width: 250px;
  }
  h1 span {
    font-size: 1.9rem;
  }
  .hero-text p {
    line-height: 1.2rem;
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }
  .main-heading {
    font-size: 1.5rem;
  }
}
