*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* General styles */
:root {
  --nav-bg: #e7ede3;
  --hero-bg: #d7e7ca;
  --hero-dark-bg: #94a67a;
  --button-color: #467b45;
  --text-color: #163a12;
  --light-text-color: #829776;
  --footer-bg: #3a6337;
}
body {
  font-family: "inter";
}
.body-padding {
  padding: 1rem 3rem;
}
a {
  text-decoration: none;
  transition: all 0.5s ease;
}

/* Nav styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  background-color: var(--nav-bg);
}
.nav-container h1 {
  font-size: 1.2rem;
}
.nav-container .links {
  display: flex;
  gap: 1.5rem;
}
.nav-container .links a {
  color: var(--text-color);
  font-size: 1rem;
}
.links a:hover,
.nav-container button:hover {
  color: var(--light-text-color);
  transition: all 0.5s ease;
}
.nav-container .nav-button,
.toggle-btn {
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 1px solid var(--button-color);
  border-radius: 5px;
  cursor: pointer;
}
.toggle-btn {
  display: none;
  font-size: 1rem;
  padding: 0.3rem 1.5rem;
}

/* hero styles */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #d7e7ca, #94a67a);
}
.hero-img{
  filter: saturate(1.5);
  width: 100%;
}
/* Responsive styles */
/* Mobile view */
@media (max-width: 768px) {
  .nav-container .nav-button {
    display: none;
  }
  .nav-container .links {
    display: none;
  }
  .nav-container h1 {
    font-size: 0.9rem;
  }
  .links {
    display: none;
    flex-direction: column;
    background: var(--hero-bg);
    position: absolute;
    top: 70px;
    right: 0;
    width: 70%;
    height: 100vh;
    padding: 1.5rem;
    border-top-left-radius: 10px;
    transition: all 0.5s ease;
  }

  .links.active {
    display: flex; /* show when active */
  }

  .toggle-btn {
    display: block;
  }
}
